<div ng-controller="medianetDataListController">
    <h1>Listado de oficinas MediaNet Software</h1>
    <br>
    Filtra oficina: <input type='text' ng-model='searchText' />
    <br><br>
    <ul>
        <li ng-repeat="office in offices | filter:searchText">
            <p><b>Id:</b> {{ office.id }} -- <b>País:</b> {{ office.pais }} -- <b>Dirección:</b> {{ office.direccion }} -- <b>Tlf:</b> {{ office.telefono }}</p>
        </li>
    </ul>
</div>