<div ng-controller="medianetDataListController">
    <h1> Listado de algunos proyectos de MediaNet Software</h1>
    <br>
    Filtra proyecto: <input type='text' ng-model='searchText' />
    <br><br>
    <ul>
        <li ng-repeat="proyect in proyects | filter:searchText">
            <p><b>Id:</b> {{ proyect.id }} -- <b>Nombre:</b> {{ proyect.nombre }} </p>
        </li>
    </ul>
</div>